
<div class="hero-wrapper">
  <div class="hero-container">

  
    <div class="box hero-layer"
      [ngStyle]="{
                   'background-color': 'rgba(0,0,0,'+ (bgOpacity/ 100) +')',
                   'background-position-x':  bgXPos +'%',
                   'background-position-y':  bgYPos +'%',
                   'height': heroHeight + 'px'
                  }"
                  
      >
      <div class="hero-text"  [ngStyle]="{
        'padding': this.verticalPadding + 'px ' + this.horizontalPadding + 'px ', 'border-width': this.borderWidth + 'px',
        'font-size': heroFontSize + 'px',
        'line-height': (heroFontSize) + 'px'
       }">
        {{heroText}}
      </div>
    </div>
  </div>
</div>

<div class="input-wrapper">
  <div class="input-left">
    <div class="input-form">
       <div class="input-title"  >
       Text
      </div> 
      <mat-form-field class="example-full-width thinwhite">
        <input matInput [(ngModel)]="heroText" >
      </mat-form-field>
  
    </div>
  
    <div class="input-form">
      <div class="input-title">
        Vertical padding
      </div>
      <mat-slider
      [(ngModel)]="verticalPadding"
      (input)="verticalPadding = $event.value"
      min="0" max="200" step="1"

      ></mat-slider>
      <div class="inlinetext">
        {{verticalPadding}} px
      </div>
    </div>
  
    <div class="input-form">
      <div class="input-title">
        Horizontal padding
      </div>
      <mat-slider
      [(ngModel)]="horizontalPadding"
      (input)="horizontalPadding= $event.value"
      min="0" max="200" step="1"
      ></mat-slider>
      <div class="inlinetext">
        {{horizontalPadding}} px
      </div>
    </div>


    <div class="input-form">
      <div class="input-title">
        Border width
      </div>
      <mat-slider
      [(ngModel)]="borderWidth"
      (input)="borderWidth= $event.value"
      min="0" max="20" step="1"
      ></mat-slider>
      <div class="inlinetext">
        {{borderWidth}} px
      </div>
    </div>


    <div class="input-form">
      <div class="input-title">
        Font Size
      </div>
      <mat-slider
      [(ngModel)]="heroFontSize"
      (input)="heroFontSize= $event.value"
      min="10" max="200" step="2"
      ></mat-slider>
      <div class="inlinetext">
        {{heroFontSize}} px
      </div>
    </div>

  </div>

  <div class="input-left">
    <div class="input-form">
      <div class="input-title">
       Opacity
      </div>
      <mat-slider
        [(ngModel)]="bgOpacity"
        (input)="bgOpacity= $event.value"
        min="0" max="100" step="1"
      ></mat-slider>
  
      <div class="inlinetext">
        {{bgOpacity}} %
      </div>
    </div>
  
    <div class="input-form">
      <div class="input-title">
       Color
      </div>
      <input style="width: 128px"
      [style.background]="bgColor"
      [cpAlphaChannel]="'disabled'"
      [cpOutputFormat]="'rgba'"
      [(colorPicker)]="bgColor"
       (colorPickerChange)="bgColor=$event"/>
       
    </div>



    <div class="input-form">
      <div class="input-title">
       Height
      </div>
      <mat-slider
        min="100" max="650" step="1"
        [(ngModel)]="heroHeight"
        (input)="heroHeight= $event.value"
      ></mat-slider>

      <div class="inlinetext">
        {{heroHeight}} px
      </div>
     
  </div>


    <div class="input-form">
        <div class="input-title">
         X position
        </div>
        <mat-slider
          min="0" max="100" step="1"
          [(ngModel)]="bgXPos"
          (input)="bgXPos= $event.value"
        ></mat-slider>

        <div class="inlinetext">
          {{bgXPos}} %
        </div>
       
    </div>

    <div class="input-form">
        <div class="input-title">
         Y position
        </div>
        <mat-slider
          min="0" max="100" step="1"
          [(ngModel)]="bgYPos"
          (input)="bgYPos= $event.value"
        ></mat-slider>
        <div class="inlinetext">
          {{bgYPos}} %
        </div>
       
    </div>
  


  </div>




</div>


<div class="code-wrapper">
  
  <div class="code-container">
    <div class="code-type">
      HTML

      <a class="material-icons" [cdkCopyToClipboard]="setCopyText(htmlcode)" style="margin-right: 10px; display: inline-flex;
      vertical-align: middle; cursor: pointer; font-size: 20px;">
        content_copy
    </a>
    </div>

    

    <div   class="code-text">

    <!--   <h3 [innerText]="htmlStr"></h3> -->

    <pre>
      <code  #htmlcode innerHTML="{{'&lt;'}}div class=&quot;hero-wrapper&quot;&gt;
  {{'&lt;'}} div class=&quot;hero-container&quot;&gt;

    {{'&lt;'}} div class=&quot;box hero-layer&quot;&gt;

      {{'&lt;'}} div class=&quot;hero-text&quot;&gt;

      {{this.heroText}}

      {{'&lt;'}} /div&gt;

     {{'&lt;'}} /div&gt;

   {{'&lt;'}} /div&gt;
   
 {{'&lt;'}} /div&gt;"
 >
  </code>
    </pre>

    </div>
  </div>

  <div class="code-container">
    <div class="code-type">
      CSS
      <a class="material-icons" [cdkCopyToClipboard]="setCopyText(csscode)" style="margin-right: 10px; display: inline-flex;
      vertical-align: middle; cursor: pointer; font-size: 20px;">
        content_copy
      </a>

    </div>

    <div class="code-text">
 
      
        <pre>
          <code #csscode 
innerHTML="
.box {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .hero-text{
    color: white;  
    font-size: {{heroFontSize}}px;  
    line-height: {{heroFontSize}}px; 
    font-weight: 900;  
    border-color: white; 
    border-style: solid; 
    border-width: {{ borderWidth}}px 
    padding: {{verticalPadding}}px {{horizontalPadding}}px; 
    border-style: solid; 
  } 
  .hero-container {
    position: relative;
  }
  img {
    width: 100%;
  }

  .hero-layer{
    height: {{heroHeight}}px; ;
    background-image:   url('https://images.unsplash.com/photo-1500139223203-01825c8badf2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1997&q=80'); 
    background-color: rgba(0,0,0,{{this.bgOpacity/100}} ) 
    background-blend-mode: darken; 
    background-position-x: {{bgXPos}}%; 
    background-position-y: {{bgYPos}}%; 
    background-size: cover; 
  }
          ">
 </code>

         
        </pre>


    </div>
  </div>

</div>


