
<div class="hero-wrapper">
  <div class="hero-container">

  
    <div class="box hero-layer"
      [ngStyle]="{
                   'background-color': 'rgba(0,0,0,'+ (bgOpacity/ 100) +')'
                  }"
                  bgColor
      >
      <div class="hero-text"  [ngStyle]="{
        'padding': this.verticalPadding + 'px ' + this.horizontalPadding + 'px '
       }">
        {{heroText}}
      </div>
    </div>


  </div>



</div>

<div class="input-wrapper">
  <div class="input-left">
    <div class="input-form">
       <div class="input-title">
       Text
      </div> 
      <mat-form-field class="example-full-width thinwhite">
        <input matInput [(ngModel)]="heroText" >
      </mat-form-field>
  
    </div>
  
    <div class="input-form">
      <div class="input-title">
        Vertical padding
      </div>
      <mat-slider
      [(ngModel)]="verticalPadding"
      min="0" max="200" step="1"
      (input)="vPaddingChange($event)"
      ></mat-slider>
      <div class="inlinetext">
        {{verticalPadding}} px
      </div>
    </div>
  
    <div class="input-form">
      <div class="input-title">
        Horizontal padding
      </div>
      <mat-slider
      [(ngModel)]="horizontalPadding"
      min="0" max="200" step="1"
      (input)="hPaddingChange($event)"
      ></mat-slider>
      <div class="inlinetext">
        {{horizontalPadding}} px
      </div>
    </div>

  </div>

  <div class="input-left">
    <div class="input-form">
      <div class="input-title">
       Opacity
      </div>
      <mat-slider
        [(ngModel)]="bgOpacity"
        min="0" max="100" step="1"
        (input)="bgOpacityChange($event)"
      ></mat-slider>
  
      <div class="inlinetext">
        {{bgOpacity}} %
      </div>
    </div>
  
    <div class="input-form">
      <div class="input-title">
       Color
      </div>
      <input style="width: 128px"
      [style.background]="bgColor"
      [cpAlphaChannel]="'disabled'"
      [cpOutputFormat]="'rgba'"
      [(colorPicker)]="bgColor"
       (colorPickerChange)="bgColor=$event"/>
       
      <!-- <div class="inlinetext">
        {{bgColor}} px
      </div> -->
    </div>
  
  <!--   <div class="input-form">
      <div class="input-title">
        Horizontal padding
      </div>
      <mat-slider
      [(ngModel)]="horizontalPadding"
      min="0" max="200" step="1"
      (input)="hPaddingChange($event)"
      ></mat-slider>
      <div class="inlinetext">
        {{horizontalPadding}} px
      </div>
    </div> -->

  </div>




</div>