
<div class="button-wrapper"
  [ngStyle]="{ 'background-color':bgColor
              }" 
 >

  <div class="buttonbuild"
                        [ngStyle]="{ 'border-color': borderColor,
                                    'border-width': borderwidth + 'px',
                                    'border-radius': borderRadius + 'px',
                                    'padding': padding + 'px',
                                    'font-size': fontSize + 'px'
                      }" 
  >
                      {{buttonText}}

  </div>
</div>



<div class="input-wrapper">
  <div class="input-left">
    <div class="input-form">
       <div class="input-title"  >
       Text
      </div> 
      <mat-form-field class="example-full-width thinwhite">
        <input matInput [(ngModel)]="buttonText" >
      </mat-form-field>
    </div>

    <div class="input-form">
      <div class="input-title">
       Padding
      </div>
      <mat-slider
      [(ngModel)]="padding"
      (input)="padding = $event.value"
      min="0" max="30" step="1"

      ></mat-slider>
      <div class="inlinetext">
        {{padding}} px
      </div>
    </div>

    <div class="input-form">
      <div class="input-title">
       Font size
      </div>
      <mat-slider
      [(ngModel)]="fontSize"
      (input)="fontSize = $event.value"
      min="4" max="300" step="1"

      ></mat-slider>
      <div class="inlinetext">
        {{fontSize}} px
      </div>
    </div>


    <div class="input-form">
      <div class="input-title">
       Border radius
      </div>
      <mat-slider
      [(ngModel)]="borderRadius"
      (input)="borderRadius = $event.value"
      min="0" max="250" step="1"

      ></mat-slider>
      <div class="inlinetext">
        {{borderRadius}} px
      </div>
    </div>

    <div class="input-form">
      <div class="input-title">
       Border width
      </div>
      <mat-slider
      [(ngModel)]="borderwidth"
      (input)="borderwidth = $event.value"
      min="0" max="30" step="1"

      ></mat-slider>
      <div class="inlinetext">
        {{borderwidth}} px
      </div>
    </div>


  </div>
</div>