/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
/*   background: linear-gradient(162.91deg, #542CAA 0%, #48209C 15.89%, #33859F 84.13%);
 */  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
/*   box-sizing: border-box; */

}

html{
  height:100%;
  width: 100%;
  padding: 0;
  margin: 0;
  
}

